{% extends 'base.html.twig' %}

{% block title %}Les Constructeurs{% endblock %}

{% block body %}
    <h2 class="text-center">Les Constructeurs</h2>
    {% for constructeur in constructeurs %}
        <a href="/constructeurs/{{constructeur.id}}"><img src="{{constructeur.logo}}" alt="{{constructeur.nom}}"></a>
    {% endfor %}
{% endblock %}

