{% extends 'base.html.twig' %}

{% block title %}Les Voitures{% endblock %}

{% block body %}
    <h2 class="text-center">Les voitures</h2>
    {% for voiture in voitures %}
        <a href="/voitures/{{voiture.id}}"><img src="{{voiture.image}}" alt="{{voiture.modele}}"></a>
    {% endfor %}
{% endblock %}
