{% extends 'base.html.twig' %}

{% block title %}Formulaire Nouveau Membre{% endblock %}

{% block body %}
    <h2 class="text-center">Merci de renseigner les champs suivants</h2>
    {{form(formulaire)}}
{% endblock %}
