{% extends 'base.html.twig' %}

{% block title %}Accueil - Auto Rétro Chic{% endblock %}

{% block body %}
    <h2>Bienvenue sur le site du club <br><span>Auto Rétro Chic</span></h2>

    <p>
        Dans les années 30 et 40, les constructeurs automobiles français allièrent à l’aérodynamisme de la carrosserie, l'esthétisme stylistique. <br>
        Au cours d'une trentaine d’années on était passé de la voiture à caisse carrée, dérivée du fiacre ou de la calèche, aux somptueuses carrosseries aux courbes et galbes voluptueux. L'élan dynamique et affiné des lignes se mariait à l'ondoiement et aux volutes des ailes, capots, habitacles et coffres. <br>
        Dès lors, Les profils s'étirent en mouvance féminine, les proues, parées de chromes, s'élargissent et se virilisent avec cette retenue tout à fait remarquable dans l’agressivité, les poupes s'abaissent et s’allongent, la ligne de fuite veut que l'auto colle à la route.
    </p>

    <h2>Les derniers modèles...</h2>

{% endblock %}
